openapi: 3.0.0
info:
  title: Stryke deposit stats API
  description: ''
  version: '1.0'
  contact: {}
servers:
- url: https://api.stryke.xyz
tags:
- name: stats
paths:
  /clamm/stats/fees:
    get:
      operationId: StatsController_getFees
      summary: Get premium and protocol fees earned by a options market
      parameters:
      - name: chainId
        required: true
        in: query
        description: Chain ID of the network
        schema:
          enum:
          - 5000
          - 42161
          type: number
      - name: optionMarket
        required: true
        in: query
        description: Address of the option market
        schema:
          type: string
      - name: from
        required: true
        in: query
        schema:
          type: number
      - name: to
        required: true
        in: query
        schema:
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeesResponseDto'
      tags:
      - stats
  /clamm/stats/volume:
    get:
      operationId: StatsController_getVolume
      summary: Get volume generated by a options market
      parameters:
      - name: chainId
        required: true
        in: query
        description: Chain ID of the network
        schema:
          enum:
          - 5000
          - 42161
          type: number
      - name: optionMarket
        required: true
        in: query
        description: Address of the option market
        schema:
          type: string
      - name: from
        required: true
        in: query
        schema:
          type: number
      - name: to
        required: true
        in: query
        schema:
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: number
      tags:
      - stats
  /clamm/stats/dau:
    get:
      operationId: StatsController_getDau
      summary: Get number of unique users
      parameters:
      - name: chainId
        required: true
        in: query
        description: Chain ID of the network
        schema:
          enum:
          - 5000
          - 42161
          type: number
      - name: optionMarket
        required: true
        in: query
        description: Address of the option market
        schema:
          type: string
      - name: from
        required: true
        in: query
        schema:
          type: number
      - name: to
        required: true
        in: query
        schema:
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: number
      tags:
      - stats
  /clamm/stats/open-interest:
    get:
      operationId: StatsController_getOpenInterest
      summary: Get current open interest of a options market
      parameters:
      - name: chainId
        required: true
        in: query
        description: Chain ID of the network
        schema:
          enum:
          - 5000
          - 42161
          type: number
      - name: optionMarket
        required: true
        in: query
        description: Address of the option market
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: number
      tags:
      - stats
  /clamm/stats/tvl:
    get:
      operationId: StatsController_getTvl
      summary: Get total value locked in a options market
      parameters:
      - name: chainId
        required: true
        in: query
        description: Chain ID of the network
        schema:
          enum:
          - 5000
          - 42161
          type: number
      - name: optionMarket
        required: true
        in: query
        description: Address of the option market
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: number
      tags:
      - stats
  /clamm/stats/tvl/{pool}:
    get:
      operationId: StatsController_getTvlForPool
      summary: Get total value locked in a pool specific to CLAMM
      parameters:
      - name: chainId
        required: true
        in: query
        description: Chain ID of the network
        schema:
          enum:
          - 5000
          - 42161
          type: number
      - name: pool
        required: true
        in: path
        description: Address of the pool
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: number
      tags:
      - stats
  /clamm/stats/delta:
    get:
      operationId: StatsController_getPnlDelta
      summary: Get trade performance of a user on specified chains
      parameters:
      - name: chains
        required: true
        in: query
        description: Chain IDs of networks to query option markets for
        schema:
          type: array
          items:
            type: string
      - name: user
        required: true
        in: query
        description: Address of the user
        schema:
          type: string
      - name: from
        required: true
        in: query
        schema:
          type: number
      - name: to
        required: true
        in: query
        schema:
          type: number
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PnlDeltaResponseDto'
      tags:
      - stats
components:
  schemas:
    PnlDeltaResponseDto:
      type: object
      properties:
        delta:
          type: number
          readOnly: true
        timestamp:
          type: number
          readOnly: true
      required:
      - delta
      - timestamp
    FeesResponseDto:
      type: object
      properties:
        premiums:
          type: number
          readOnly: true
        protocolFees:
          type: number
          readOnly: true
      required:
      - premiums
      - protocolFees
